<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица выражений</title>
</head>
<body>
    <h1>Выражения</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Номер выражения</th>
                <th>Выражение</th>
                <th>Статус</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Expressions }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Expression }}</td>
                <td>{{ .Status }}</td>
                <td>{{ .Result }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <form action="/" method="get">
        <button type="submit">Назад</button>
    </form>
</body>
</html>
