<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница входа</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <button onclick="register()">Регистрация</button>
    <button onclick="login()">Вход</button>

    <script>
        function register() {
            window.location.href = "/register";
        }

        function login() {
            window.location.href = "/login";
        }
    </script>
</body>
</html>
