<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Введите выражение:</h1>
    <form id="expressionForm" action="/{{.User}}" method="post">
        <input type="text" name="expression" placeholder="Введите выражение" required>
        <input type="hidden" id="user" name="user" value="{{.User}}">
        <button type="submit">Отправить</button>
    </form>
    <br>
    <form action="/settings" method="get">
        <button type="submit">Перейти на страницу настроек</button>
    </form>
    <br>
    <form action="/expressions/{{.User}}" method="get" id="expressionsForm">
        <button type="submit">Получить список выражений</button>
    </form>
    <br>
    <form action="/tasks" method="get">
        <button type="submit">Получить количество вычислительных мощностей</button>
    </form>
    <form action="/" method="get">
        <button type="submit">Выйти</button>
    </form>
    <script>
        console.log("User:", "{{.User}}");
    </script>
</body>
</html>
