<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
</head>
<body>
    <h1>Введите выражение:</h1>
    <form action="/" method="post">
        <input type="text" name="expression" placeholder="Введите выражение" required>
        <button type="submit">Отправить</button>
    </form>
    <br>
    <form action="/settings" method="get">
        <button type="submit">Перейти на страницу настроек</button>
    </form>
    <br>
    <form action="/expressions" method="get">
        <button type="submit">Получить список выражений</button>
    </form>
    <br>
    <form action="/calculators" method="get">
        <button type="submit">Получить список вычислительных мощностей</button>
    </form>
</body>
</html>