<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Время выполнения операций</title>
</head>
<body>
    <h1>Время выполнения операций</h1>
    <form id="timeForm" action="/settings" method="post">
        <label for="addition_time">Время выполнения операции +:</label><br>
        <input type="text" id="addition_time" name="addition_time" value="{{ .OperationSumInterval }}" required><br><br>

        <label for="subtraction_time">Время выполнения операции -:</label><br>
        <input type="text" id="subtraction_time" name="subtraction_time" value="{{ .OperationSubInterval }}" required><br><br>

        <label for="multiplication_time">Время выполнения операции *:</label><br>
        <input type="text" id="multiplication_time" name="multiplication_time" value="{{ .OperationMulInterval }}" required><br><br>

        <label for="division_time">Время выполнения операции /:</label><br>
        <input type="text" id="division_time" name="division_time" value="{{ .OperationDivInterval }}" required><br><br>

        <button type="submit">Применить</button>
    </form>

    <button onclick="goBack()">Назад</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
