<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    <h1>Вход</h1>
    <form id="loginForm" action="/login" method="post" onsubmit="return submitForm()">
        <label for="login">Имя пользователя:</label><br>
        <input type="text" id="login" name="login"><br>

        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password"><br><br>

        <button type="submit">Войти</button>
    </form>

    <form>
        <button type="button" onclick="goBack()">Назад</button>
    </form>

    <script>
        function submitForm() {
            var username = document.getElementById("login").value;
            var password = document.getElementById("password").value;

            if (username == "" || password == "") {
                alert(`Пожалуйста, заполните поля "Имя пользователя" и "Пароль"`);
                return false;
            }

            var formData = new FormData(document.getElementById("loginForm"));

            // Отправляем POST-запрос
            fetch('/login', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data)
                if (data.status == "OK") {
                    localStorage.setItem('jwtToken', data.token);
                    window.location.href = `/${data.id}`;
                } else {
                    alert('Неверное имя пользователя или пароль');
                }
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });

            return false;
        }

        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
